# Dependencias
node_modules/

# Build de TypeScript
dist/

# Archivos de entorno (SECRETOS)
.env
.env.local
.env.*.local
async_basic.js
ejercicio.js
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db
